<template>
  <div class="app">
    <div class="app-body">
      <Navbar/>
      <main class="main">
        <div class="container">
          <router-view></router-view>
        </div>
      </main>

    </div>

  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
export default {
  name: 'full',
  components: {
    Navbar
  },
  data () {
    return {

    }
  },
  computed: {

  }
}
</script>
