<template>
  <div class="Equipment">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>1. EQUIPMENT</h2>
       <p>The eqipment required to play regulation BinBall.</p>
       <hr class="mb20 mt20" />
         <h3>1.1. Bin</h3>
         <p>The bin is one of the most important items, it is <b>required</b> to play BinBall.</p>

         <ul>
           <li>A regulation BinBall bin is between 1' (12") and 1.5' (18") in height and diameter</li>
           <li>The bin should be made of a solid material (e.g. plastic) to facilitate bouncing</li>
           <li>The BinBall bin must be placed so that the base of the bin is between 1' (12") and 1.5' (18") from a single wall</li>
         </ul>
         <hr class="mb20 mt20" />

         <h3>1.2. Ball</h3>
         <p>The ball is one of the most important items, it is <b>required</b> to play BinBall.</p>

         <ul>
           <li>A regulation BinBall ball is approximately 3" in diameter</li>
           <li>A regulation BinBall is made of a solid, but spongey material and should bounce easily</li>
         </ul>
         <hr class="mb20 mt20" />

         <h3>1.3. Measures</h3>
         <p>Although a measure is not a physical piece of equipment it is important to understand what a measure is and how it is applied to BinBall.</p>
         <p>A measure is a fixed distance, determined pre-game, that is used to mark out the distances the players will throw from.</p>
         <p>A measure is typically 18" in length, however it is suggested that measure sizes be adapted to suit the playing environment (i.e. the length of a floor tile) for ease and consistency</p>

         <hr class="mb20 mt20" />
      </div>
    </div>
  </div>
</template>

<script>

export default {
  components: {

  },
  name: 'Equipment',
  data () {
    return {

    }
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.Equipment {
  margin-top: 40px;
  margin-bottom: 80px;
}
.Equipment p, h2, h3, li {
  color: #666666;
}
.list-group-item {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.leader-header {
  background: #148ea1;
}
.pt20 {
  padding-top: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.league-header {
  background: #eeeeee;
}
.btn-default {
  border: 1px solid #666666;
}
</style>
