<template>
  <div class="Health">
    <div class="row">
      <div class="col-md-8 offset-md-2">
         <h2>1. HEALTH & SAFETY</h2>
         <p>1.1 Don't throw the ball at opposition. This is deemed unsportsmanlike and you could be disqualified from future games.</p>
         <p>1.2 Don't forget to bend your knees and keep your back straight when re-positioning the bin.</p>
         <p>1.3 BinBall can be quite competitive so you should consider warming up before taking part.</p>
         <p>1.4 You are responsible for your own safety. Please take care whilst playing Binball.</p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  components: {

  },
  name: 'Rules',
  data () {
    return {

    }
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.Rules {
  margin-top: 40px;
  margin-bottom: 80px;
}
.Rules p, h2, h3, li {
  color: #666666;
}
.list-group-item {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.leader-header {
  background: #148ea1;
}
.pt20 {
  padding-top: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.league-header {
  background: #eeeeee;
}
.btn-default {
  border: 1px solid #666666;
}
</style>
