<template>
  <div class="Leader">

        <div class="card text-white bg-dark mb-3">
          <div class="card-header">
            Leaderboard
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">1st</li>
              <li class="list-group-item">2nd</li>
              <li class="list-group-item">3rd</li>
            </ul>
          </div>
        </div>

</div>
</template>

<script>

export default {
  name: 'Leader',
  data () {
    return {

    }
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.list-group-item {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.leader-header {
  background: #148ea1;
}
.pt20 {
  padding-top: 20px;
}
.btn-default {
  border: 1px solid #666666;
}
</style>
