<template>
  <div class="Rules">
    <div class="row">
      <div class="col-md-8 offset-md-2">
         <h2>1. EQUIPMENT</h2>
         <p>For a full list please go to <router-link :to="{ name: 'equipment'}">equipment</router-link></p>
         <hr class="mb20 mt20">

         <h3>2. PLAYING BINBALL</h3>
         <p>Everything you need to know to get started with BinBall.</p>
         <hr class="mb20 mt20">

         <h3>2.1. Player positioning</h3>
         <p>For the first throw, the player must be stood a minimum of three measures from the front of the bin.</p>
         <p>After each round, the players will move back one additional measure up to the maximum number of measures (agreed pre-game).</p>

         <ul>
           <li>A measure is typically 18" in length (or, the length of one floor tile)</li>
           <li>This can be adapted to suit the playing environment</li>
         </ul>
         <hr class="mb20 mt20">

         <h3>2.2. Throwing the ball</h3>
         <p>The current player must attempt to score points by throwing the ball into the bin. Any method of throwing is applicable, including overarm, underarm, bouncing or even kicking.</p>
         <p>The players must remain the required number of measures away from the front of the bin at all times, or that throw is deemed a 'no-throw' and classed as a failed attempt.</p>

         <ul>
           <li>Only a players feet must remain behind the required distance away, leaning forward is allowed</li>
         </ul>
         <hr class="mb20 mt20">

         <h3>2.3. Scoring points</h3>
         <p>The current player gets a number of attempts to get the ball into the bin. This number is the current number of measures from the bin.</p>
         <p>If the player is successful in getting the ball into the bin, he/she will receive some points. The number of points awarded is equal to the number of measures away from the bin, minus the number of failed attempts.</p>
         <p>The ball must stay in the bin to be classed as a successful throw. If the ball bounces out is is classed as a failed attempt and no points are awarded.</p>
         <p>If the ball ends up in the bin after bouncing off a surface other than the floor (e.g. a wall, or a nearby desk), this is classed as a <b>valid</b> throw and the usual points are awarded.</p>
         <p>A player can nominate the current throw as a <b>Joker</b>. If a nominated throw is successful, then the player will receive double the amount of points for that throw. A player only has 1 Joker to use through the whole game.</p>


         <ul>
           <li>A player is throwing from a distance of 7 measures and misses his first 2 attempts. His 3rd attempt is successful. He will be awarded 5 points</li>
           <li>If he had played his joker on this throw, he would have received 10 points</li>
         </ul>

      </div>
    </div>
  </div>
</template>

<script>

export default {
  components: {

  },
  name: 'Rules',
  data () {
    return {

    }
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.Rules {
  margin-top: 40px;
  margin-bottom: 80px;
}
.Rules p, h2, h3, li {
  color: #666666;
}
.list-group-item {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.leader-header {
  background: #148ea1;
}
.pt20 {
  padding-top: 20px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.league-header {
  background: #eeeeee;
}
.btn-default {
  border: 1px solid #666666;
}
</style>
