<template>
  <div class="Scores">
    <div class="row">
      <div class="col-md-4">
        <Leader/>
      </div>
      <div class="col-md-8">
        <div class="alert alert-warning" v-show="warning" transition="fade">
  			     <span class="fa fa-warning-sign"></span> {{ warning }}
  		  </div>
        <div class="alert alert-success" v-show="gameOver" transition="fade">
  			     <span class="glyphicon glyphicon-info-sign"></span> {{ winner }} has won !
  		  </div>
        <button v-on:click="refresh(false)" v-show="gameOver" class="btn btn-dark mb15"><span class="glyphicon glyphicon-repeat"></span> New game</button>
  		  <button v-on:click="refresh(true)" v-show="gameOver" class="btn btn-dark mb15"><span class="glyphicon glyphicon-repeat"></span> Replay with the same players</button>
        <div class="row">
          <div class="col">
            <div class="jumbotron">
              <div class="row">
                <div class="col">
                  <h3>BinBall Championships</h3>
                  <p class="lead">Don't just throw it. Bin it!</p>
                </div>

                <div class="col">
                  <div class="card mb15">
                    <div class="card-body">

                      <label>Add new player</label>
                      <input id="newPlayer" class="form-control" placeholder="Add player" type="text" v-model="name" v-on:keyup.enter="addPlayer">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-bordered">
  				<thead v-show="players.length">
  					<tr class="text-center">
              <th>Rank</th>
  						<th>Name</th>
  						<th>Total</th>
  						<th v-show="!gameOver">+ points</th>
  						<th v-show="!gameOver">- points</th>
  						<th v-show="!gameOver">Reset</th>
  						<th v-show="!gameOver">Remove</th>
  					</tr>
  				</thead>
  				<tbody>
  					<tr v-for="(player, index) in players" v-bind:key="index" transition="fade">
              <td class="text-center pt20" v-if="index+1 < 4"> {{ index+1 | rank }} </td>
              <td class="text-center pt20" v-else> {{ index+1 | rank }} </td>
  						<td class="text-center pt20">{{ player.name }}</td>
  						<td class="text-center pt20">{{ player.points }}</td>
  						<td v-show="!gameOver"><button v-on:click="addPoints(index)" class="btn btn-default btn-block"><span class="fa fa-plus"></span></button></td>
  						<td v-show="!gameOver"><button v-on:click="reducePoints(index)" class="btn btn-default btn-block"><span class="fa fa-minus"></span></button></td>
  						<td v-show="!gameOver"><button v-on:click="resetScore(index)" class="btn btn-default btn-block"><span class="fa fa-repeat"></span></button></td>
  						<td v-show="!gameOver"><button v-on:click="removePlayer(index)" class="btn btn-default btn-block"><span class="fa fa-trash"></span></button></td>
  					</tr>
  				</tbody>
        </table>

        <div v-show="players.length && !gameOver" class="mb15">
    			<button v-on:click="resetAllScore()" class="btn btn-secondary"> Reset scores </button>
    			<button v-on:click="reset()" class="btn btn-secondary"> Reset all </button>
    			<button v-on:click="endGame()" class="btn btn-danger"> End game </button>
          <button class="btn btn-success" @click="saveGame">Save game</button>
    		</div>
        <div v-if="submitted">
          <div class="alert alert-success" role="alert">
            Game saved successfully
          </div>
        </div>
      </div>


	</div>
</div>
</template>

<script>
import axios from 'axios'
import Leader from '@/views/Leader'
export default {
  components: {
    Leader
  },
  name: 'Scores',
  data () {
    return {
       step: 1,
       name: '',
       players: [],
       playerCount: 1,
       warning: '',
       gameOver: false,
       submitted: false,
       winner: ''
    }
  },
  methods: {
      addPlayer: function() {
          var name = this.name || 'player' + this.playerCount;
          for(var v of this.players)
              if(v.name == name.toLowerCase())
                  return this.warning = 'Oops we have a name clash. Can you use an awesome nickname like BLACK PANTHER instead?';
          this.warning = '';
          this.playerCount++;
          this.players.push({name: name.toLowerCase(), points: 0});
          this.name = '';
          this.updateRank();
      },

      removePlayer: function(index) {
          this.players.splice(index, 1);
      },

      addPoints: function(index) {
          this.players[index].points += this.step;
          this.updateRank();
      },

      reducePoints: function(index) {
          this.players[index].points -= this.step;
          this.updateRank();
      },

      resetScore: function(index) {
          this.players[index].points = 0;
          this.submitted = false;
          this.updateRank();
      },

      resetAllScore: function() {
          this.players.map(function(v) {
              return v.points = 0;

          });
          this.submitted = false;
      },

      reset: function() {
          this.players = [];
          this.submitted = false;
      },

      endGame: function() {
          this.winner = this.players[0].name;
          this.gameOver = true;
          this.submitted = false;
          this.warning = '';
      },

      refresh: function(samePlayers) {
          if(samePlayers) {
              this.resetAllScore();
              this.gameOver = false;
          }
          else location.reload();
          this.submitted = false;
      },
      updateRank: function() {
          for(var i=window.setTimeout(function(){}, 0); i>0; i--)
              window.clearTimeout(i);
          setTimeout(this.sortRank, 1500);
      },

      sortRank: function() {
          this.players.sort(function(a, b) {
              return a.points < b.points;
          });
      },

      saveGame () {
          axios.post(`${process.env.BINBALL_URI}`, this.players)
          .then((response) => {
             this.submitted = true;
          })
          .catch(error => {
             console.log(error);
          })
          console.log(this.form);
      }
  },
  filters: {
      rank: function(v) {
          v = '' + v;
          if(['11', '12', '13'].indexOf(v.substr(-2)) !== -1)
              return v + 'th';
          return v + ({1: 'st', 2: 'nd', 3: 'rd'}[v.substr(-1)] || 'th');
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.jumbotron {
  padding: 40px;
  background: #343a40;
  color: #ffffff;
}
.jumbotron label {
  color: #000000;
}
.table {
  background: #2c3e50;
  color: #ffffff;
}
.mb15 {
  margin-bottom: 15px;
}
.pt20 {
  padding-top: 20px;
}
.league-header {
  background: #eeeeee;
}
.btn-default {
  border: 1px solid #666666;
}
</style>
